
*{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: rgb(255, 255, 255);
    
    
    }
    
    
    body{
    
    
        background-image: linear-gradient(to left,#025951, #0CF25D, #02735E);
        
        background-attachment: fixed;
    
    }
    
    input {
    
    
        background-color: rgb(10, 86, 10);
        
    }